.blue{
    background-color: blue;
    color: white;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.black{
    background-color: black;
    color: white;
}
.yellow{
    background-color: yellow;
}
.pink{
    background-color: pink;
}
.purple{
    background-color: purple;
    color: white;
}